<?xml version="1.0"?>
 
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" /> <!-- Permitir acceso a ficheros json -->
            <mimeMap fileExtension="webp" mimeType="image/webp" /> <!-- Permitir imágenes webp -->
     </staticContent>
    </system.webServer>
</configuration>